<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <title>@(ViewBag.Title != null ? ViewBag.Title + " - upboat.me" : "upboat.me")</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="apple-mobile-web-app-title" content="Upboat.me">
    <link rel="apple-touch-icon-precomposed" href="@Url.VersionedContent("~/Content/apple-touch-icon-precomposed.png")" />
    <link href='//fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/foundation/normalize")
    @Styles.Render("~/Content/foundation/css")
    @Styles.Render("~/Content/css")
    <link type="text/css" href="@WorldWideWat.SpriteThumbs.SpriteThumbsGlobalConfiguration.Configuration.StylesheetResourceUrl" rel="stylesheet"/>
    @RenderSection("head", required: false)
    <script type="text/javascript">
        var rootUrl = '@Url.AbsoluteAction("")';
    </script>
</head>
<body>
    <div id="header" class="row">
        <div class="large-12 columns">
            <h1 class="left">
                <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.VersionedContent("~/Content/UpBoat64.png")" class="hide-for-small" />
                    <span>UPBOAT.ME</span>
                </a>
            </h1>
            <div class="right">
                <ul class="inline-list">
                    <li>@Html.TopNavLink("Home", "Index", "Home", null, new { @class = "small button round hide-for-small" })</li>
                    <li>@Html.TopNavLink("Builder", "Builder", "Meme", new { url = "" }, new { @class = "small button round" })</li>
                    <li>@Html.TopNavLink("Meme Index", "List", "Meme", null, new { @class = "small button round" })</li>
                </ul>
                <div id="slogan" class="hide-for-small">&#8220;<small>@UpboatMe.Utilities.SloganUtilities.GetRandomSlogan()</small>&#8221;</div>
            </div>
        </div>
    </div>
    <div class="row">
        <hr />
    </div>
    
    @RenderBody()
    <div id="footer" class="row">
        <hr/>
        <div class="large-3 columns">
            <ul>
                <li>@Html.ActionLink("Pricing", "Pricing", "Home")</li>
                <li><a href="https://github.com/worldwidewat/upboat.me">Source</a></li>
                <li><a href="https://github.com/worldwidewat/upboat.me/blob/master/CONTRIBUTING.md">Contributing</a></li>
            </ul>
        </div>
        <div class="large-3 columns">
            <ul>
                <li><a rel="license" href="//creativecommons.org/licenses/by-nc/3.0/deed.en_US"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-nc/3.0/80x15.png" /></a></li>
                <li>@Html.ActionLink("Terms", "Terms", "Home")</li>
                <li>@Html.ActionLink("Privacy", "Privacy", "Home")</li>
            </ul>
        </div>
        <div class="large-3 columns">
            <ul>
                <li><a href="http://twitter.com/upboatme">@@upboatme</a></li>
                <li><a href="http://twitter.com/mharen">@@mharen</a></li>
                <li><a href="http://twitter.com/pwninstein">@@pwninstein</a></li>
            </ul>
        </div>
        <div class="large-3 columns">
            <ul>
                <li>Built with <a href="http://www.microsoft.com/bizspark/">BizSpark</a></li>
                @{
                    var lastUpdated = Html.LastUpdated();
                    
                    if (!string.IsNullOrEmpty(lastUpdated))
                    {
                <li title="Last updated" style="font-size:90%;">rev @lastUpdated</li>
                    }
                }
            </ul>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/foundation")
    @Scripts.Render("~/bundles/site")
    @*Use the Scripts section to define page specific scripts*@
    @RenderSection("scripts", required: false)
    @if (string.Equals(System.Configuration.ConfigurationManager.AppSettings["EnableGoogleAnalytics"], "true", StringComparison.OrdinalIgnoreCase))
    {
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-41725429-1', 'upboat.me');
        ga('send', 'pageview');
    </script>
    }
</body>
</html>