<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />

    @*Set the viewport width to device width for mobile *@
    <meta name="viewport" content="width=device-width" />

    <title>@(ViewBag.Title != null ? ViewBag.Title + " - upboat.me" : "upboat.me")</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="apple-mobile-web-app-title" content="Upboat.me">
    <link rel="apple-touch-icon-precomposed" href="@Url.Content("~/Content/apple-touch-icon-precomposed.png")" />
    @Styles.Render("~/Content/foundation/normalize")
    @Styles.Render("~/Content/foundation/css")
    @Styles.Render("~/Content/css")
    <link type="text/css" href="@WorldWideWat.SpriteThumbs.SpriteThumbsGlobalConfiguration.Configuration.StylesheetResourceUrl" rel="stylesheet"/>
    @RenderSection("head", required: false)
    <script type="text/javascript">
        var rootUrl = '@Url.AbsoluteAction("")';
    </script>
</head>
<body>
    <div id="header" class="row">
        <div class="large-12 columns">
            <h1>
                <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("~/Content/UpBoat128.png")" />
                    <span>UPBOAT.ME</span>
                </a>
                <div style="float:right"><small>&#8220;<small>@UpboatMe.Utilities.SloganUtilities.GetRandomSlogan()</small>&#8221;</small></div>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <ul class="inline-list right">
                <li>@Html.TopNavLink("Home", "Index", "Home", null, new { @class = "medium button" })</li>
                <li>@Html.TopNavLink("Builder", "Builder", "Meme", null, new { @class = "medium button" })</li>
                <li>@Html.TopNavLink("Meme Index", "List", "Meme", null, new { @class = "medium button" })</li>
            </ul>
        </div>
        <hr />
    </div>
    
    @RenderBody()
    <div id="footer" class="row">
        <hr/>
        <div class="large-4 columns">
            <ul>
                <li>@Html.ActionLink("Pricing", "Pricing", "Home")</li>
                <li><a href="https://github.com/worldwidewat/upboat.me">Source</a></li>
                <li><a href="https://github.com/worldwidewat/upboat.me/blob/master/CONTRIBUTING.md">Contributing</a></li>
                <li><a href="http://www.microsoft.com/bizspark/">BizSpark</a></li>
            </ul>
        </div>
        <div class="large-4 columns">
            <ul>
                <li><a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-nc/3.0/80x15.png" /></a></li>
                <li>@Html.ActionLink("Terms", "Terms", "Home")</li>
                <li>@Html.ActionLink("Privacy", "Privacy", "Home")</li>
            </ul>
        </div>
        <div class="large-4 columns">
            <ul>
                <li><a href="http://twitter.com/upboatme">@@upboatme</a></li>
                <li><a href="http://twitter.com/mharen">@@mharen</a></li>
                <li><a href="http://twitter.com/pwninstein">@@pwninstein</a></li>
            </ul>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/foundation")
    @Scripts.Render("~/bundles/site")
    @*Use the Scripts section to define page specific scripts*@
    @RenderSection("scripts", required: false)
    @if(string.Equals(System.Configuration.ConfigurationManager.AppSettings["EnableGoogleAnalytics"], "true", StringComparison.OrdinalIgnoreCase)){
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-41725429-1', 'upboat.me');
        ga('send', 'pageview');
    </script>
    }
    <!--
        server variables:
        @for (int i = 0; i < Request.ServerVariables.Count; ++i)
        {
            @Request.ServerVariables.GetKey(i)<text>:</text> @(string.Join(", ", Request.ServerVariables.GetValues(i))) @Environment.NewLine
            
        }

        UNENCODED_URL: @Request.ServerVariables["UNENCODED_URL"]
        HTTP_URL: @Request.ServerVariables["HTTP_URL"]
        REQUEST_URI: @Request.ServerVariables["REQUEST_URI"]
        X-FORWARDED-FOR: @Request.ServerVariables["X-FORWARDED-FOR"]
        X-FOO: @Request.ServerVariables["X-FOO"]
        HTTP_X_REWRITE_URL: @Request.ServerVariables["HTTP_X_REWRITE_URL"]
        
        headers:
        @for(int i = 0; i < Request.Headers.Count; ++i)
        {
            @Request.Headers.GetKey(i)<text>:</text> @(string.Join(", ", Request.Headers.GetValues(i))) @Environment.NewLine
            
        }
        -->
</body>
</html>