@model BuilderViewModel
@{
    var previewUrl = Model.GetPreviewUrl(Url);
    var isMemeReady = Model.Lines != null && Model.Lines.Any(l => !string.IsNullOrEmpty(l));
}
<div class="row">
    <div class="large-6 columns">
        <form id="builder-form" action="@Url.Action("Builder", "Meme", new { url = "" })">
            <select name="name">
                @for (var x = 0; x < Model.Memes.Count; x++)
                {
                    <option data-line-count="@Model.Memes[x].Lines.Count" value="@Model.Memes[x].Aliases.First()" @(Model.Memes[x].Aliases.First() == Model.SelectedMeme ? "selected='selected'" : "")>
                        @Model.Memes[x].Description
                    </option>
                }
            </select>

            @for (var x = 0; x < Model.Lines.Count; x++)
            {
                <input type="text" class="builder-line" placeholder="line @(x + 1)" value="@Model.Lines[x]"/>
            }
            
            <div class="text-right">
                <input class="small button" type="submit" value="Create!" id="create-meme" />
            </div>
        </form>
        @if (isMemeReady)
        {
            <div>
                <h3 id="share">Share it!</h3>
                <div class="row">
                    <div class="large-12 columns" style="">
                        <div id="share-url" class="throb">@previewUrl</div>
                    </div>
                </div>
                <div class="row" style="margin-top: 1em; margin-bottom: 1em;">
                    <div class="large-12 columns text-right">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=@(previewUrl)" target="_blank">
                            <img src="@Url.VersionedContent("~/Content/social/24px/facebook.png")" alt="Share to Facebook" title="Share to Facebook" />
                        </a>
                        <a href="https://twitter.com/share?url=@(previewUrl)&via=upboatme&text=@(Model.GetShareText())" target="_blank">
                            <img src="@Url.VersionedContent("~/Content/social/24px/twitter.png")" alt="Share to Twitter" title="Share to Twitter" />
                        </a>
                        <a href="http://www.reddit.com/r/AdviceAnimals/submit?title=@(Model.GetShareText())&url=@(previewUrl)" target="_blank">
                            <img src="@Url.VersionedContent("~/Content/social/24px/reddit.png")" alt="Share to Reddit" title="Share to Reddit" />
                        </a>

                        <a href="http://pinterest.com/pin/create/button/?url=@(previewUrl)&media=@(previewUrl)&description=@(Model.GetShareText())" target="_blank">
                            <img src="@Url.VersionedContent("~/Content/social/24px/pinterest.png")" alt="Pin it" title="Pin it" />
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="large-6 columns">
        @if (isMemeReady)
        {
            <a href="@previewUrl">
                <img id="meme-preview" src="@(previewUrl)" alt="@(@Model.GetAltText())" title="@(@Model.GetAltText())"/>
            </a>
        }
        else
        {
            <img id="meme-preview" src="@(previewUrl)" alt="@(@Model.GetAltText())" title="@(@Model.GetAltText())"/>
        }
    </div>
</div>
