@model UpboatMe.Models.IndexViewModel

<div class="row">
    <div class="large-12 columns">
        <h2>UPBOAT.ME</h2>
        <p>&#8220;@UpboatMe.Utilities.SloganUtilities.GetRandomSlogan()&#8221;</p>
    </div>
</div>

<style>
    .row {
        counter-reset: section;
    }

    ol {
        list-style-type: none;
        margin-left: 0;
    }

    li:before {
        counter-increment: section;
    }
    .step-divider {
        background-image: url(@Url.Content("~/Content/vote-right.png"));
        background-position: right top;
        background-repeat: no-repeat;
        width: 51px;
        height: 51px;
        opacity: .25;
    }
</style>
<div class="row">
    <div class="large-8 columns">
        <h3>how does this work?</h3>
        <div class="row">
            <div class="large-4 columns">
                <div class="">
                    <ol>
                        <li>Think of something funny<br />
                            <em>(the hard part)</em></li>
                    </ol>
                </div>
            </div>
            <div class="large-1 columns step-divider"></div>
            <div class="large-3 columns">
                <div class="">
                    <ol>
                        <li>Make a meme wherever you are<br />
                            <em>(just build it with the url)</em></li>
                    </ol>
                </div>
            </div>
            <div class="large-1 columns step-divider"></div>
            <div class="large-3 columns">
                <div class="">
                    <ol>
                        <li>Don't switch apps<br />
                            <em>(you're already done!)</em></li>
                    </ol>
                </div>
            </div>
        </div>

        <h3>Heya</h3>
        <div class="row">
            <div class="large-6 columns">

                <p>
                    @Html.DropDownList("meme-name", new SelectList(Model.Memes.Select(m => new { Value = m.Aliases.First(), Text = m.Description }), "Value", "Text"))
                </p>

                <p>
                    <input type="text" id="first-line" />
                </p>

                <p>
                    <input type="text" id="second-line" />
                </p>

                <input type="button" value="Create!" id="create-meme" />
            </div>
            <div class="large-6 columns">

                <div>
                    <img id="meme-preview" />
                </div>
            </div>
        </div>
</div>

<div class="large-4 columns">
    <h4>Recent Memes</h4>
    <p>
        <img src="/sap/wears-suit-and-tie-to-interview/phone-interview" alt="socially awkward penguin: wears suit and tie to interview @Environment.NewLine phone interview" title="socially awkward penguin"/>
    </p>
    <p>
        <img src="/fry/not-sure-if-sunny-outside/or-hungover" alt="futurama fry: not sure if sunny outside @Environment.NewLine or hungover" title="futurama fry"/>
    </p>
    <p>
        <img src="/scc/i-don't-buy-things-with-money/i-buy-them-with-hours-of-my-life" alt="sudden clarity clarence: i don't buy things with money @Environment.NewLine i buy them with hours of my life" title="sudden clarity clarence"/>
    </p>
    <p>
        <img src="/blb/has-pet-rock/it-runs-away" alt="bad luck brian: has pet rock @Environment.NewLine it runs away" title="bad luck brian"/>
    </p>
</div>
</div>
